.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.5em;
    align-items: center;
}
.nav{
    background: rgba(7, 148, 148, 0.801);
    height: 5em;
}